.float-r {
  float: right;
}
.ws-nw {
  white-space: nowrap;
}
.img-block {
  align-items: center;
}
.fade-l {
  color: #aaa;
}
.cursor-p {
  cursor: pointer;
}
table img {
  max-width: 200px;
  max-height: 200px;
}
